@import "./configs.scss";

.container {
  max-width: 1653px;
  margin: 0 auto;
  padding: 16px 24px 0 24px;

  @media screen and(max-width:$breakpoint-up-xl) {
    max-width: 1218px;
  }

  @media screen and(max-width:$breakpoint-up-md) {
    max-width: 100%;
  }

  @media screen and(max-width:$breakpoint-up-xs) {
    padding: 10px;
  }
}

.title {
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  position: relative;
  color: #000000;

  @media screen and(max-width:$breakpoint-up-xl) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.search-form {
  display: flex;
  border: 2px solid #c4c4c4;
  padding: 8px;

  &__input-text {
    border: none;
    background-color: transparent;
    line-height: 1;
    padding-right: 8px;
  }
}

.svg {
  width: 18px;
  height: 18px;
}

.footer-svg {
  width: 36px;
  height: 36px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000;

  &--grey {
    background-color: #6c6c6c;
  }

  &--wide {
    height: 7px;
  }
}

.rect {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    left: -8px;
    background-color: #f04e45;
  }

  &--blue::before {
    background-color: #0878f7;
  }

  &--wide::before {
    width: 12px;
    // left: -20px;
  }
}

.company-news:before {
  content: "новини компаній";
  display: block;
  position: absolute;
  width: fit-content;
  font-size: 13px;
  line-height: 15px;
  padding: 0px 8px 2px 8px;
  color: #000000;
  left: 120%;
  border: 1px solid #000000;
  border-radius: 20px;
  top: -50%;
  transform: translateY(3px);
  width: 125px;
  text-align: center;
}

.red-circle::before {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $red;

  @media screen and(max-width:$breakpoint-up-xl) {
    left: -14px;
  }
}

.social-wrapper {
  display: flex;
  align-items: flex-end;

  &__text {
    font-weight: normal;
    font-size: 19px;
    line-height: 1;
    margin-right: 8px;
  }

  &__links {
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    min-width: 80px;

    & > * {
      display: flex;
      transition: opacity 0.15s;
    }

    & > *:hover {
      opacity: 0.5;
    }
  }

  .twitter {
    padding-top: 2px;
  }
}

.date {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 9px;
  color: #c4c4c4;
}

.hamburger {
  display: none;
  width: 24px;
  height: 17px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10000;

  .line {
    background-color: #000000;
    border-radius: 4px;
    height: 3px;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  }

  &--active .line:nth-child(2) {
    opacity: 0;
  }

  &--active .line:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }

  &--active .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  @media screen and(max-width:$breakpoint-up-sm) {
    display: flex;
  }
  @media screen and(max-width:$breakpoint-up-xxs) {
    width: 20px;
  }
}

.xl-d-none {
  @media screen and(max-width:$breakpoint-up-xl) {
    display: none;
  }
}

.xl-d-block {
  @media screen and(max-width:$breakpoint-down-xl) {
    display: block;
  }
}

.lg-d-none {
  @media screen and(max-width:$breakpoint-up-lg) {
    display: none;
  }
}

.md-d-none {
  @media screen and(max-width:$breakpoint-up-md) {
    display: none;
  }
}

.sm-d-none {
  @media screen and(max-width:$breakpoint-up-sm) {
    display: none;
  }
}

.xs-d-none {
  @media screen and(max-width:$breakpoint-up-xs) {
    display: none;
  }
}

.xxs-d-none {
  @media screen and(max-width:$breakpoint-up-xxs) {
    display: none;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}
