$breakpoint-down-xxl: 1919.98px;
$breakpoint-down-xl: 1365.98px;
$breakpoint-down-lg: 1199.98px;
$breakpoint-down-md: 1023.98px;
$breakpoint-down-sm: 991.98px;
$breakpoint-down-xs: 767.98px;
$breakpoint-down-xxs: 575.98px;
$breakpoint-down-xxxs: 374.98px;

$breakpoint-up-xxl: 1920px;
$breakpoint-up-xl: 1366px;
$breakpoint-up-lg: 1200px;
$breakpoint-up-md: 1024px;
$breakpoint-up-sm: 992px;
$breakpoint-up-xs: 768px;
$breakpoint-up-xxs: 576px;

$border-radius: 4px;

$anim-time-slow: 0.3s;
$anim-time-fast: 0.2s;
$anim-time: 0.25s;

$box-shadow-modal: 0 6px 24px 0 rgba(0, 0, 0, 0.2);
