@import "./configs";
@import "./colors";
@import "./configs";
@import "./animations";

.footer {
  background: #1f2124;
  padding: 40px 0 30px 0;

  @media screen and(max-width:$breakpoint-up-xs) {
    padding: 20px 0;
  }

  &-wrapper {
    padding: 0 20px;
    max-width: 1254px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 182px 1fr auto;
    grid-template-areas: "logo content social";
    gap: 24px;

    @media screen and(max-width: $breakpoint-up-xl) {
      width: 100%;
      max-width: 100%;
    }

    @media screen and(max-width: $breakpoint-up-md) {
      gap: 0 24px;
      grid-template-columns: 158px 1fr;
      grid-template-areas:
        "logo content content"
        "social content content";
      grid-template-rows: max-content;
    }

    @media screen and(max-width: $breakpoint-up-xs) {
      gap: 0;
      grid-template-columns: 1fr;
      grid-template-areas:
        "logo"
        "social"
        "content";
      grid-template-rows: max-content;
      justify-items: center;
      text-align: center;
    }
  }

  &__logo-wrapper {
    grid-area: logo;
    display: flex;

    .logo {
      &__title {
        font-size: 36px;
        line-height: 1.13;
        text-transform: uppercase;
        color: #6d6e70;
        margin-right: 16px;
      }

      &__circle {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 1.15;
        text-transform: uppercase;
        color: #fafafa;
        background-color: #f2360c;
        border-radius: 50%;
      }
    }
  }

  &__content-wrapper {
    grid-area: content;
    color: #636466;
    font-size: 18px;
    line-height: 1.44;
    max-width: 700px;

    @media screen and(max-width:$breakpoint-up-xl) {
      font-size: 16px;
      line-height: 1.5;
    }

    @media screen and(max-width:$breakpoint-up-md) {
      font-size: 14px;
    }

    .cookie {
      color: #fff;
    }
  }

  &__social-wrapper {
    grid-area: social;
    display: flex;
    flex-wrap: wrap;

    @media screen and(max-width: $breakpoint-up-xl) {
      max-width: 120px;
      align-self: self-start;
    }

    @media screen and(max-width: $breakpoint-up-md) {
      margin-top: 24px;
    }

    @media screen and(max-width:$breakpoint-up-xs) {
      max-width: 100%;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    a {
      cursor: pointer;
      margin-bottom: 15px;
      margin: 0 4px;
      transition: opacity 0.3s;

      @media screen and(max-width: $breakpoint-up-xl) {
        margin: 0 2px;
        margin-bottom: 15px;
      }

      @media screen and(max-width: $breakpoint-up-md) {
        margin: 0 2px;
        margin-bottom: 10px;
      }

      @media screen and(max-width: $breakpoint-up-xs) {
        margin: 0 2px;
        margin-bottom: 5px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__links-wrapper {
    margin-top: 8px;
    margin-bottom: 20px;
    display: flex;

    @media screen and(max-width:$breakpoint-up-lg) {
      margin-top: 20px;
    }

    @media screen and(max-width:$breakpoint-up-xs) {
      flex-direction: column;
      margin: 12px 0 8px 0;
    }

    .link {
      margin-right: 32px;
      font-size: 13px;
      line-height: 1.84;
      text-transform: uppercase;
      color: #ffffff;

      @media screen and(max-width:$breakpoint-up-lg) {
        margin-right: 28px;
      }

      @media screen and(max-width:$breakpoint-up-md) {
        margin-right: 20px;
      }

      @media screen and(max-width:$breakpoint-up-sm) {
        margin-right: 10px;
      }

      @media screen and(max-width:$breakpoint-up-xs) {
        margin-right: 0;
        margin-bottom: 4px;
      }
    }
  }
}
