@import "./configs";
@import "./colors";
@import "./configs";

.main {
  &__content-wrapper {
    padding-top: 24px;
    display: grid;
    gap: 40px;
    grid-template-columns: minmax(460px, 1fr) minmax(600px, 1fr) minmax(
        460px,
        1fr
      );

    grid-template-areas:
      "news swiper special-projects"
      "news publications special-projects"
      "video video video";

    grid-template-rows: max-content;

    @media screen and(max-width:$breakpoint-up-xxl) {
      grid-template-columns: minmax(290px, 1fr) minmax(530px, 1.3fr) minmax(
          290px,
          1fr
        );

      gap: 40px;
    }

    @media screen and(max-width:$breakpoint-up-xl) {
      gap: 20px;
    }

    @media screen and(max-width:$breakpoint-up-lg) {
      grid-template-columns: minmax(240px, 1fr) minmax(430px, 1.5fr) minmax(
          240px,
          1fr
        );

      gap: 20px;
    }

    @media screen and(max-width:$breakpoint-up-md) {
      gap: 24px;
      grid-template-columns: 100%;
      grid-template-areas:
        "swiper"
        "news"
        "publications"
        "video"
        "special-projects";
    }

    .news {
      grid-area: news;

      &__title {
        margin-left: 8px;
        margin-bottom: 12px;
      }

      &__card-wrapper {
        padding-top: 15px;
        border-top: 1px solid #dfdfdf;
        margin-bottom: 20px;

        .card {
          &__content-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
          }

          &__img-wrapper {
            max-width: 91px;
            width: 100%;
            height: 58px;
            margin-right: 8px;
            overflow: hidden;

            &:hover + .card__title {
              text-decoration: underline;
            }
          }

          &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: width 0.3s, height 0.3s;

            &:hover {
              width: 120%;
              height: 120%;
            }
          }

          &__title {
            font-size: 18px;
            line-height: 1.16;
            width: 100%;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 16px;
              line-height: 1.5;
            }
          }

          &__date {
            clear: both;
            width: fit-content;
            position: relative;
          }
        }
      }
    }

    .main__swiper {
      grid-area: swiper;

      .slick-dotted.slick-slider {
        margin: 0;
      }

      .swiper-wrapper {
        width: 100%;
        position: relative;

        .slick-dots {
          height: 20px;
        }

        .swiper-slide {
          width: 100%;
          height: 100%;
          position: relative;
          height: 390px;

          @media screen and(max-width:$breakpoint-up-xl) {
            height: 300px;
          }

          @media screen and(max-width:$breakpoint-up-md) {
            height: 560px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            height: 430px;
          }

          @media screen and(max-width:$breakpoint-up-xxs) {
            height: 325px;
          }

          @media screen and(max-width:$breakpoint-up-xxxs) {
            height: 220px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: none;
            object-position: top;

            @media screen and(max-width:$breakpoint-up-md) {
              object-fit: cover;
            }
          }

          &__title {
            position: absolute;
            top: 70%;
            left: 0;
            right: 0;
            max-width: 455px;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #ffffff;
            margin: 0 auto;

            @media screen and(max-width:$breakpoint-up-lg) {
              font-size: 20px;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              max-width: 100%;
              top: 85%;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              max-width: 455px;
              top: 80%;
              font-size: 24px;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              top: 70%;
            }

            @media screen and(max-width:$breakpoint-up-xxxs) {
              font-size: 20px;
              top: 55%;
              max-width: 300px;
            }
          }
        }

        .slick-dots {
          position: absolute;
          right: 50px;
          top: 30px;
          width: fit-content;

          @media screen and(max-width:$breakpoint-up-md) {
            left: calc(50% - 55px);
            top: 15px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            left: auto;
            right: 20px;
            top: 20px;
          }

          @media screen and(max-width:$breakpoint-up-xxxs) {
            top: 10px;
            right: 15px;
          }

          li {
            margin: 0 1px;

            @media screen and(max-width:$breakpoint-up-xxxs) {
              padding: 0;
              width: 11px;
              height: 11px;
              margin: 0 2px;
            }
          }

          button::before {
            display: block;
            content: "";
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 3px solid #ffffff;
            opacity: 1;

            @media screen and(max-width:$breakpoint-up-xxxs) {
              width: 11px;
              height: 11px;
              border: 2px solid #ffffff;
            }
          }

          .slick-active {
            button::before {
              background-color: #fff;
            }
          }
        }
      }
    }

    .main__publications {
      grid-area: publications;
      padding-bottom: 24px;

      .publications {
        &__title-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__title {
          font-size: 26px;
          line-height: 1.15;
          color: #d21e4a;
        }

        &__link {
          font-size: 18px;
          line-height: 21px;
          color: #2c2a29;
        }

        &-cards__wrapper {
          display: grid;
          gap: 40px;
          grid-template-columns: 1fr 1fr;
          padding: 32px 6px 0 6px;

          @media screen and(max-width:$breakpoint-up-xl) {
            gap: 30px;
          }

          @media screen and(max-width:$breakpoint-up-md) {
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            grid-template-columns: 1fr;
          }
        }

        &-card {
          &__wrapper {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .publications-card__date {
              margin-top: 31px;

              @media screen and(max-width:$breakpoint-up-xl) {
                margin-top: 12px;
              }

              span {
                font-size: 14px;
                text-transform: uppercase;
                margin-left: 8px;
              }
            }
          }

          &__title {
            display: block;
            font-size: 20px;
            line-height: 1.15;
            margin-top: 20px;
            color: #000000;
            max-height: 167px;
            overflow: hidden;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 18px;
              line-height: 1.5;
              max-height: 108px;
            }
          }
        }
      }
    }

    .main__special-projects {
      grid-area: special-projects;

      @media screen and(max-width:$breakpoint-up-md) {
        display: flex;

        @media screen and(max-width:$breakpoint-up-xxs) {
          flex-direction: column;
          padding-bottom: 24px;
        }
      }

      .special-projects {
        &__wrapper {
          @media screen and(max-width:$breakpoint-up-md) {
            width: 100%;
          }

          @media screen and(max-width:$breakpoint-up-xxs) {
            padding: 0;
          }

          &--left {
            @media screen and(max-width:$breakpoint-up-md) {
              padding-right: 10px;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              padding: 0;
            }
          }

          &--right {
            @media screen and(max-width:$breakpoint-up-md) {
              padding-left: 10px;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              padding: 0;
            }
          }
        }

        &__title {
          margin-left: 8px;
          margin-bottom: 15px;
        }

        &__img-wrapper {
          width: 100%;
          max-height: 339px;
          border-bottom: 1px solid #dfdfdf;
          padding-bottom: 30px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .editor {
        margin-top: 30px;
        padding: 0 12px;

        @media screen and(max-width:$breakpoint-up-xl) {
          padding: 0;
        }

        &__title {
          margin-top: 16px;
          font-size: 18px;
          line-height: 1.16;
          text-transform: uppercase;
          color: #fafafa;
          width: max-content;
          padding: 4px 24px;
          background-color: #dd3333;
          border-radius: 5px;
          margin-bottom: 10px;

          @media screen and(max-width:$breakpoint-up-lg) {
            padding: 4px 12px;
            font-size: 16px;
          }
        }

        &-card {
          padding-top: 22px;
          clear: both;

          &__title {
            font-size: 18px;
            line-height: 1.16;
            color: #000000;
            margin-bottom: 18px;
            display: block;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 16px;
              line-height: 1.33333333;
              max-width: 200px;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              max-width: 330px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              font-size: 14px;
              line-height: 1.5;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              max-width: 100%;
            }
          }

          &__img-wrapper {
            float: right;
            margin-left: 35px;
            margin-bottom: 15px;
            width: 150px;
            height: 100px;

            @media screen and(max-width:$breakpoint-up-xl) {
              width: 90px;
              height: 58px;
              margin-left: 15px;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              width: 30%;
              height: auto;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              width: 40%;
              height: auto;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              width: 30%;
              height: auto;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__date {
            font-size: 16px;
            line-height: 1.125;
            color: #000000;

            @media screen and(max-width:$breakpoint-up-xs) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .blogs {
      margin-top: 12px;
      margin-bottom: 37px;

      @media screen and(max-width:$breakpoint-up-md) {
        margin-top: 24px;
      }

      &__title {
        font-size: 36px;
        line-height: 0.77;
        color: #cc0033;
        padding: 10px 5px;
        background-color: #f0f0f0;
        padding-bottom: 25px;
      }

      &-card {
        padding: 20px;
        background-color: #f0f0f0;
        margin-bottom: 2px;

        @media screen and(max-width:$breakpoint-up-xl) {
          padding: 10px;
        }

        &__content-wrapper {
          display: flex;
          flex-direction: column;

          @media screen and(max-width:$breakpoint-up-xl) {
            flex-direction: column-reverse;
          }
        }

        &__img-wrapper {
          width: 126px;
          height: 126px;
          border-radius: 50%;
          overflow: hidden;
          float: right;
          margin-left: 38px;

          @media screen and(max-width:$breakpoint-up-xl) {
            width: 30%;
            height: 30%;
            margin-left: 10px;
          }

          @media screen and(max-width:$breakpoint-up-md) {
            width: 25%;
            height: 25%;
            margin-left: 30px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            width: 30%;
            height: 30%;
            margin-left: 10px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__line {
          width: 100%;
          height: 2px;

          &--first {
            display: none;

            @media screen and(max-width:$breakpoint-up-xl) {
              display: block;
              margin-bottom: 12px;
            }
          }
        }

        &__date {
          font-size: 18px;
          line-height: 1.16;
          color: #706d6d;
          margin-bottom: 12px;

          @media screen and(max-width:$breakpoint-up-xl) {
            font-size: 14px;
            line-height: 1.14;
          }
        }

        &__name {
          font-size: 24px;
          line-height: 1.15;
          color: #d0194e;
          margin-bottom: 12px;
          display: block;
        }

        &__descr {
          font-size: 18px;
          line-height: 1.55;
          color: #000000;
          clear: both;
          padding-top: 8px;

          @media screen and(max-width:$breakpoint-up-xl) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .submit {
      padding: 30px 25px;
      background-color: #f0f0f0;
      margin-bottom: 9px;

      @media screen and(max-width:$breakpoint-up-xl) {
        padding: 25px 10px;
      }

      &__title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
      }

      &__img {
        display: inline-block;
        margin-right: 12px;

        @media screen and(max-width:$breakpoint-up-xl) {
          margin-right: 6px;
        }
      }

      &__title {
        font-size: 20px;
        line-height: 1;
        text-transform: uppercase;
        color: #000000;
        display: inline-block;

        @media screen and(max-width:$breakpoint-up-xl) {
          font-size: 16px;
          line-height: 1.3;
        }

        @media screen and(max-width:$breakpoint-up-lg) {
          font-size: 18px;
        }
      }

      &__input {
        width: 100%;
        height: 35px;
        padding: 10px 5px;
        background-color: inherit;
        border: 1px solid #c4c4c4;

        @media screen and(max-width:$breakpoint-up-md) {
          max-width: 360px;
        }
      }
    }

    .social {
      padding: 15px 20px;
      background-color: #f0f0f0;
      margin-bottom: 17px;

      &__img-wrapper {
        margin: 0 auto;
        width: fit-content;
      }

      &__img-likes-wrapper {
        margin: 0 auto;
        width: fit-content;
        margin-top: 15px;
      }
    }

    .best-publications {
      &__title {
        margin-left: 8px;
        margin-bottom: 13px;
      }

      &__card {
        padding: 23px 12px;
        background-color: #f0f0f0;
        margin-bottom: 7px;

        @media screen and(max-width:$breakpoint-up-xl) {
          padding: 15px 10px;
        }
      }

      &__name {
        font-size: 18px;
        line-height: 1.55;
        color: #000000;
        margin-bottom: 13px;
        display: block;

        @media screen and(max-width:$breakpoint-up-xl) {
          font-size: 16px;
          line-height: 1.5;
        }
      }

      &__date {
        font-size: 16px;
        line-height: 1.12;
        color: #c8d5e8;

        @media screen and(max-width:$breakpoint-up-xl) {
          font-size: 14px;
        }
      }

      &__image {
        width: 100%;
        margin-top: 12px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__video {
    grid-area: video;
    display: flex;
    border-top: 1px solid #dfdfdf;
    padding-top: 42px;
    padding-bottom: 70px;
    position: relative;

    @media screen and(max-width:$breakpoint-up-md) {
      padding-bottom: 20px;
    }

    @media screen and(max-width:$breakpoint-up-xxs) {
      flex-direction: column;
    }

    .video {
      &-wrapper {
        position: relative;
        margin-right: 38px;
        width: 60%;

        @media screen and(max-width:$breakpoint-up-xl) {
          margin-right: 30px;
        }

        @media screen and(max-width:$breakpoint-up-xs) {
          width: 100%;
          padding-right: 10px;
          margin-right: 0;
        }
      }

      &__title {
        font-size: 26px;
        line-height: 1.15;
        padding-left: 20px;
        margin-left: 8px;
        color: #92969e;
        position: absolute;
        background-color: #fff;
        width: 110px;
        top: 0;
        left: 0;
        transform: translateY(-50%);
      }

      &__big-video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;

        &::before {
          content: "";
          display: block;
          width: 119px;
          height: 119px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-image: url("../assets/svg/play-big.svg");
          z-index: 10;
          background-size: 100%;

          @media screen and(max-width:$breakpoint-up-md) {
            width: 80px;
            height: 80px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            width: 60px;
            height: 60px;
          }
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0%;
          top: 0%;
          background-color: rgba(8, 120, 247, 0.9);
          z-index: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover::after {
          opacity: 1;
        }

        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      &__descr {
        font-size: 36px;
        line-height: 0.83;
        color: #4b4b4b;
        margin-top: 42px;

        @media screen and(max-width:$breakpoint-up-xl) {
          font-size: 26px;
          line-height: 1.5;
          margin-top: 20px;
        }

        @media screen and(max-width:$breakpoint-up-md) {
          font-size: 22px;
        }

        @media screen and(max-width:$breakpoint-up-xs) {
          font-size: 18px;
        }

        @media screen and(max-width:$breakpoint-up-xxs) {
          margin-bottom: 20px;
        }
      }

      &__cards-wrapper {
        display: flex;
        flex-direction: column;

        @media screen and(max-width:$breakpoint-up-xs) {
          width: 100%;
          padding-left: 10px;
        }
      }

      &__card {
        display: flex;
        padding: 21px 0;

        @media screen and(max-width:$breakpoint-up-xl) {
          padding: 0 0 15px 0;
        }

        .card {
          &__video {
            width: 227px;
            height: 117px;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 61px;
              height: 61px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              background-image: url("../assets/svg/play-small.svg");
              z-index: 10;
              background-size: 100%;

              @media screen and(max-width:$breakpoint-up-lg) {
                width: 56px;
                height: 56px;
              }

              @media screen and(max-width:$breakpoint-up-md) {
                width: 46px;
                height: 46px;
              }

              @media screen and(max-width:$breakpoint-up-xs) {
                width: 30px;
                height: 30px;
              }
            }

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0%;
              top: 0%;
              background-color: rgba(8, 120, 247, 0.9);
              z-index: 0;
              opacity: 0;
              transition: opacity 0.3s;
            }

            &:hover::after {
              opacity: 1;
            }

            @media screen and(max-width:$breakpoint-up-xl) {
              width: 170px;
              height: 110px;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              width: 140px;
              height: 90px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              width: 80px;
              height: 50px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: relative;
            }
          }

          &__title {
            font-size: 24px;
            line-height: 1.25;
            color: #6d6d6d;
            margin-left: 22px;
            max-width: 300px;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 20px;
              line-height: 1.4;
              max-width: 235px;
              align-self: center;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              font-size: 18px;
              max-width: 210px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              font-size: 14px;
              max-width: 235px;
              width: 100%;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              max-width: 80%;
            }
          }
        }
      }
    }
  }
}
