@import "./configs";
@import "./colors";
@import "./configs";

.main {
  &__content-wrapper {
    padding-top: 13px;
    display: grid;
    gap: 40px;
    grid-gap: 40px;
    grid-template-columns: minmax(240px, 1fr) minmax(500px, 1.3fr) minmax(
        240px,
        1fr
      );

    grid-template-areas:
      "news swiper special-projects"
      "news publications special-projects"
      "video video video";

    grid-template-rows: max-content;

    @media screen and(max-width:$breakpoint-up-xxl) {
      gap: 20px;
      grid-gap: 20px;
      padding-top: 24px;
    }

    @media screen and(max-width:$breakpoint-up-xl) {
      grid-template-columns: minmax(240px, 1fr) minmax(430px, 1.3fr) minmax(
          240px,
          1fr
        );
    }

    @media screen and(max-width:$breakpoint-up-lg) {
      grid-template-columns: minmax(240px, 1fr) minmax(430px, 1.5fr) minmax(
          240px,
          1fr
        );

      gap: 20px;
      grid-gap: 20px;
    }

    @media screen and(max-width:$breakpoint-up-lg) {
      gap: 24px;
      grid-gap: 24px;
      grid-template-columns: 100%;
      grid-template-areas:
        "swiper"
        "news"
        "publications"
        "video"
        "special-projects";
    }

    .main__swiper {
      grid-area: swiper;

      .slick-dotted.slick-slider {
        margin: 0;
      }

      .swiper-wrapper {
        width: 100%;
        position: relative;

        .slick-dots {
          height: 20px;
        }

        .swiper-slide {
          width: 100%;
          height: 100%;
          position: relative;
          height: 390px;

          @media screen and(max-width:$breakpoint-up-xl) {
            height: 300px;
          }

          @media screen and(max-width:$breakpoint-up-lg) {
            height: 560px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            height: 430px;
          }

          @media screen and(max-width:$breakpoint-up-xxs) {
            height: 325px;
          }

          @media screen and(max-width:$breakpoint-up-xxxs) {
            height: 220px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: none;
            object-position: top;

            @media screen and(max-width:$breakpoint-up-lg) {
              object-fit: cover;
            }
          }

          &__title {
            position: absolute;
            top: 70%;
            left: 0;
            right: 0;
            max-width: 455px;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #ffffff;
            margin: 0 auto;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 20px;
            }

            @media screen and(max-width:$breakpoint-up-lg) {
              max-width: 100%;
              font-size: 20px;
              top: 80%;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              max-width: 100%;
              top: 85%;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              max-width: 455px;
              top: 80%;
              font-size: 24px;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              top: 70%;
            }

            @media screen and(max-width:$breakpoint-up-xxxs) {
              font-size: 20px;
              top: 55%;
              max-width: 300px;
            }
          }
        }

        .slick-dots {
          position: absolute;
          right: 50px;
          top: 30px;
          width: fit-content;

          @media screen and(max-width:$breakpoint-up-md) {
            left: calc(50% - 55px);
            top: 15px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            left: auto;
            right: 20px;
            top: 20px;
          }

          @media screen and(max-width:$breakpoint-up-xxxs) {
            top: 10px;
            right: 15px;
          }

          li {
            margin: 0 1px;

            @media screen and(max-width:$breakpoint-up-xxxs) {
              padding: 0;
              width: 11px;
              height: 11px;
              margin: 0 2px;
            }
          }

          button::before {
            display: block;
            content: "";
            width: 17px;
            height: 17px;
            border-radius: 50%;
            border: 3px solid #ffffff;
            opacity: 1;

            @media screen and(max-width:$breakpoint-up-xxxs) {
              width: 11px;
              height: 11px;
              border: 2px solid #ffffff;
            }
          }

          .slick-active {
            button::before {
              background-color: #fff;
            }
          }
        }

        .slick-arrow {
          position: absolute;
          z-index: 99;
          top: 50%;
          transform: translateY(-50%);
          width: auto;
          height: auto;

          &::before {
            opacity: 1;
            font-family: none;
            font-size: 34px;

            @media screen and(max-width:$breakpoint-up-lg) {
              font-size: 42px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              font-size: 34px;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              font-size: 28px;
            }
          }
        }

        .slick-next {
          right: 0;
        }

        .slick-prev {
          left: 0;
        }
      }
    }

    .main__publications {
      grid-area: publications;
      padding-bottom: 24px;

      .publications {
        &__title-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__link {
          font-size: 18px;
          line-height: 21px;
          color: #2c2a29;
        }

        &-cards__wrapper {
          display: grid;
          gap: 40px;
          grid-gap: 40px;
          grid-template-columns: 1fr 1fr;
          padding: 32px 6px 0 6px;

          @media screen and(max-width:$breakpoint-up-xl) {
            gap: 30px;
            grid-gap: 30px;
          }

          @media screen and(max-width:$breakpoint-up-md) {
            gap: 20px;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            grid-template-columns: 1fr;
          }
        }

        &-card {
          &__wrapper {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .publications-card__date {
              margin-top: 31px;

              @media screen and(max-width:$breakpoint-up-xl) {
                margin-top: 12px;
              }

              span {
                font-size: 14px;
                text-transform: uppercase;
                margin-left: 8px;
              }
            }
          }

          &__title {
            display: block;
            font-size: 20px;
            line-height: 1.15;
            margin-top: 20px;
            color: #000000;
            max-height: 165px;
            overflow: hidden;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 18px;
              line-height: 1.5;
              max-height: 108px;
            }
          }
        }
      }
    }
  }

  &__news {
    grid-area: news;
  }

  .main__special-projects {
    grid-area: special-projects;
  }

  &__video {
    grid-area: video;
    display: flex;
    border-top: 1px solid #dfdfdf;
    padding-top: 42px;
    padding-bottom: 70px;
    position: relative;

    @media screen and(max-width:$breakpoint-up-lg) {
      padding-bottom: 20px;
    }

    @media screen and(max-width:$breakpoint-up-xxs) {
      flex-direction: column;
    }

    .video {
      &-wrapper {
        position: relative;
        margin-right: 38px;
        width: 60%;

        @media screen and(max-width:$breakpoint-up-xl) {
          margin-right: 30px;
        }

        @media screen and(max-width:$breakpoint-up-xs) {
          width: 100%;
          padding-right: 10px;
          margin-right: 0;
        }
      }

      &__title {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0;
          right: -24px;
          width: 24px;
          height: 100%;
          background-color: #fff;
        }
      }

      &__big-video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        overflow: hidden;

        &::before {
          content: "";
          display: block;
          width: 119px;
          height: 119px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-image: url("../assets/svg/play-big.svg");
          z-index: 10;
          background-size: 100%;

          @media screen and(max-width:$breakpoint-up-md) {
            width: 80px;
            height: 80px;
          }

          @media screen and(max-width:$breakpoint-up-xs) {
            width: 60px;
            height: 60px;
          }
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0%;
          top: 0%;
          background-color: rgba(8, 120, 247, 0.9);
          z-index: 0;
          opacity: 0;
          transition: opacity 0.3s;
        }

        &:hover::after {
          opacity: 1;
        }

        img {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }

      &__descr {
        font-size: 36px;
        line-height: 0.83;
        color: #4b4b4b;
        margin-top: 42px;

        @media screen and(max-width:$breakpoint-up-xl) {
          font-size: 26px;
          line-height: 1.5;
          margin-top: 20px;
        }

        @media screen and(max-width:$breakpoint-up-md) {
          font-size: 22px;
        }

        @media screen and(max-width:$breakpoint-up-xs) {
          font-size: 18px;
        }

        @media screen and(max-width:$breakpoint-up-xxs) {
          margin-bottom: 20px;
        }
      }

      &__cards-wrapper {
        display: flex;
        flex-direction: column;

        @media screen and(max-width:$breakpoint-up-xs) {
          width: 100%;
          padding-left: 10px;
        }
      }

      &__card {
        display: flex;
        padding: 21px 0;

        @media screen and(max-width:$breakpoint-up-xl) {
          padding: 0 0 15px 0;
        }

        .card {
          &__video {
            width: 227px;
            height: 117px;
            position: relative;

            &::before {
              content: "";
              display: block;
              width: 61px;
              height: 61px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              background-image: url("../assets/svg/play-small.svg");
              z-index: 10;
              background-size: 100%;

              @media screen and(max-width:$breakpoint-up-lg) {
                width: 56px;
                height: 56px;
              }

              @media screen and(max-width:$breakpoint-up-md) {
                width: 46px;
                height: 46px;
              }

              @media screen and(max-width:$breakpoint-up-xs) {
                width: 30px;
                height: 30px;
              }
            }

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0%;
              top: 0%;
              background-color: rgba(8, 120, 247, 0.9);
              z-index: 0;
              opacity: 0;
              transition: opacity 0.3s;
            }

            &:hover::after {
              opacity: 1;
            }

            @media screen and(max-width:$breakpoint-up-xl) {
              width: 170px;
              height: 110px;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              width: 140px;
              height: 90px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              width: 80px;
              height: 50px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: relative;
            }
          }

          &__title {
            font-size: 24px;
            line-height: 1.25;
            color: #6d6d6d;
            margin-left: 22px;
            max-width: 300px;

            @media screen and(max-width:$breakpoint-up-xl) {
              font-size: 20px;
              line-height: 1.4;
              max-width: 235px;
              align-self: center;
            }

            @media screen and(max-width:$breakpoint-up-md) {
              font-size: 18px;
              max-width: 210px;
            }

            @media screen and(max-width:$breakpoint-up-xs) {
              font-size: 14px;
              max-width: 235px;
              width: 100%;
            }

            @media screen and(max-width:$breakpoint-up-xxs) {
              max-width: 80%;
            }
          }
        }
      }
    }
  }
}
