@mixin text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin center {
	justify-content: center;
	align-items: center;
	display: flex;
}

@mixin btn-hover($bg-color, $color, $border-color) {
  &:hover {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
  }
}
